body
{
    margin: 0;
    padding: 0;
}

header
{
    width: 50%;
    margin: auto;
    background: #7131A8;
}

.ACenter
{
 text-align: center;
 font-size: 64px;
 font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
}