.CORE
{
    width: 65%;
    height: 100%;
    background: gray;
    margin: auto;
    box-shadow: 5px 10px 20px black;
}

body
{
    margin: 0;
    padding: 0;
}

.toptext{
    text-align: center;
    font-size: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}